
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Inter-Bold", Helvetica;
	text-decoration: none;
	scroll-behavior: smooth;
}
:root{
	--notwhite: #D9D9D9;
	--darkblue: #023047;
	--orange: #FB8500;
    --lightblue: #219EBC;
}


body{
	background: #D9D9D9;
	color: #023047;
}
.logo{
	width: 111px;
    height: 111px;
}

.navbar{
    min-height: 70px;
	display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FB8500;
    padding: 0 24px;    
}

.navbar a{
    font-size: 24px;
    font-weight: 700;
	color: #023047;
	padding: 10px 22px;
	border-radius: 4px;
	transition: ease .40s;
}
.navbar a:hover{
	background: #219EBC;
	border-radius: 10px;
}
.welcome-pic{
    position: relative;
    background-image: url(../img/working-out.jpg);
    background-size: cover;
    height: 804px;
}

.welcome{
   padding-top: 6rem;

}
.welcome h1{
    margin-top: 76px;
    color: #D9D9D9;
    font-family: Just Another Hand;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
	margin-left: 38%; 
}
.welcome h2{
    color: #D9D9D9;	
	text-align: center;
	margin-left: 38%; 
    font-family: Just Another Hand;
    font-size: 64px;
    font-weight: 400;
}

.rectangle {
    position: absolute;
    bottom: 0;
    width: 500px;
    height: 251px;
    right: 0;
    background-color: #fb8500;
    padding: 30px 70px;
}
.rectangle h2{
    padding-bottom: 26px;
}
.rectangle p{
    font-weight: 600;
    font-size: 20px;
}


.discover{
    height: 750px;
    width: 100%;
    text-align: center;
    padding-top: 50px;
}
.discover h2{
    font-weight: 700;
    font-size: 36px;
    color: #219EBC;
}
.discover span{
    color: #fb8500;
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
}
.container .card{
    height: 500px;
    width: 300px;
}
.container .card img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 45px;
    margin-bottom: 30px;
}
.card a{ 
    padding: 10px 30px;
    background: #023047;
    color: #FB8500;
    font-weight: bold;
}

.testimonials{
    height: 720px;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    background-color: #FB8500;
}
.testimonials .card-2{
    height: 500px;
    width: 300px;
    background-color: #219EBC;
    border-radius: 45px;
    padding: 20px;

}
.card-2 img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}
.testimonials p{
    text-align: start;
    font-size: 20px;
    font-weight: 700;
}

.FAQ{
    height: 450px;
}
.FAQ h2{
    display: flex;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    flex-direction: column;
    align-items: center;
    color: #FB8500;
    padding-bottom: 30px;
}

.data{
    margin: auto;
    width: 80%;
    background: #219EBC;
    border: 1px solid #023047;
    padding: 0 20px;
    
}
.answer{
    display: none;
    padding-bottom: 5px;
}
.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

}
.question p {
    font-size: 16px;
    font-weight: 700;
}
.question i{
    font-size: 24px;
}
footer{
    background-color: #FB8500;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.foot h2{
    color: #023047;
    font-family: Just Another Hand;
    font-size: 128px;
    font-weight: 400;
}
.foot .description p{
    width: 555px;
    font-weight: 400;
    color: #023047;
    font-size: 26px;
}
.social{
    display: flex;
	gap: 40px;
}
.fa-instagram, .fa-facebook, .fa-whatsapp{
	padding: 15px;
	font-size: 50px;
}
.quick-links{
    font-weight: 400;
    font-size: 26px;
}
.quick-links a{
    color: #023047;
}
.quick-links ul{
    margin-left: 30px;
}
.copyright{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
}

.ourprograms{
    display: flex;
    align-items: center;
    background-image: url(../img/our-programs.jpg);
    background-size: cover;
    height: 643px;
}
.ourprograms h1{
    color: #219EBC;
    font-family: Just Another Hand;
    font-size: 96px;
    font-weight: 400;
    width: 481px;
	margin-left: 4%; 
}
.boxmma{
    height: fit-content;
    width: 100%;
    padding: 50px;
}

.program p{
    text-align: center;
    align-items: center;
    width: 238px;
    font-weight: 700;
    color: #023047;
    font-weight: 700;
    font-size: 24px;

}

 .card p{
    text-align: center;
    font-weight: 700;
    font-size: 24px;
 }
 .cardio{
    background-color: #FB8500;
    height: fit-content;
    width: 100%;
    padding: 50px;
}
.dance{
    background-color: #219EBC;
    height: fit-content;
    width: 100%;
    padding: 50px;
}
.musculation{
    height: fit-content;
    width: 100%;
    padding: 50px;
}
.joinus{
    position: relative;
    display: flex;
    align-items: center;
    background-image: url(../img/join-us.jpg);
    background-size: cover;
    height: 643px;
}
.joinus h1{
    color: #219EBC;
    font-family: Just Another Hand;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    width: 481px;
	margin-left: 4%; 
}
.plans{
    height: 750px;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    font-weight: 700;
    font-size: 24px;
}
.plans h2{
    color: #FB8500;
}
.plans h3{
    padding-bottom: 15px;
}

.plans .card-2{
    height: 540px;
    width: 300px;
    background-color: #219EBC;
    border-radius: 45px;
    padding: 20px;
}
.plans ul{
    
    text-align: start;
    font-weight: 600;
    width: 100%;
    font-size: 20px;
    padding: 20px;
}
.dontquit{
    position: relative;
    background-image: url(../img/dont-quit.jpg);
    background-size: cover;
    height: 500px;
}
.signup{
    height: fit-content;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: 700;
    font-size: 24px;
    justify-content: center;
}
.signup h2{
    color: #FB8500;
    padding-bottom: 30px;
}
form{
	display: flex;
	flex-direction: column;
	align-content: center;
    padding: 22px;
}
input {
    width: 100%;
    height: 92px;
	border-radius: 45px;
	background: #219EBC;
    font-size: 25px;    
}
.info{
    display: flex;
        margin: auto;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 30px;
}
.info p{
	width: 100%;
    height: 92px;
	border-radius: 45px;
	background: #219EBC;	
}

.infoform{ 
    display: flex;
    flex-direction: column;
    padding: 20px 150px 20px 30px;
    outline: none;
    border: none;
    border-radius: 45px;
    margin-bottom: 20px;
}
::placeholder{
	font-size: 25px;
	color: #023047;
}
select {
	font-size: 25px;
	width: 100%;
	border: none;
	background: #219EBC;
	color: #023047;
	cursor: pointer;
}

select:focus{
	outline: none;
}
form button{
    padding: 10px 30px;
    font-size: 24px; 
    background: #023047;
    color: #FB8500;
    font-weight: bold;
    width: 163px;
    align-content: center;
    margin: auto;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding-top: 50px;
    width: 80%;
    gap: 50px;
    
}
.gallery .card{
    height: 500px;
    width: 300px;
}
.gallery .card img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 45px;
    margin-bottom: 30px;
}
.err{
    color: red;
}


.hamburger{
    display: none;
    cursor: pointer;
    background-color: #FB8500;  
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom:  5px;
    transition: all 0.3s ease-in-out;
    background-color: #023047;
}

/* MOBILE */
@media(max-width:768px){
    
    .hamburger{
        display: flex;
        justify-content: flex-end;
        height: 60px;
    }
    .humb{
        margin-top: auto;
        margin-bottom: auto;
    }
    
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar{
        display: none;  
        text-align: center;
        height: fit-content;
    }
    .nav-item{
        display: flex;
        justify-content: space-evenly;
    }
    nav.active{
        display: block;
    }

    .navbar a{
        font-size: 18px;
        padding: 10px 22px;
        border-radius: 4px;
        transition: ease .40s;
    }    
    .logo{
        position: absolute;
        z-index: 100;
        top: 0;
        left: 2%;
        width: 60px;
        height: 60px;

    }
    
    .welcome-pic{
        height: 422px;
    }
    .welcome h1{
        font-size: 40px;
    }
    .welcome h2{
        font-size: 24px;
    }
    
    .rectangle {
        position: relative;
        bottom: 0;
        height: fit-content;
        width: 100%;
    }
    .rectangle h2{
        font-size: 20px;
    }
    .rectangle p{
        font-size: 16px;    
    }
    
    .discover{
        height: fit-content;
    }
    .discover h2{
        font-size: 20px;
    }
  
    .container{
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding-bottom: 20px;
    }
    .container .card{
        height: 300px;
    }
    .container .card img{
        height: 215px;
    }
    .card a{ 
        font-size: 15px;
    }
    
    .testimonials{
        height: fit-content;
    }
    .testimonials h2{
        font-size: 20px;
    }
    .testimonials .card-2{
        width: 300px;
        height: fit-content; 
    }
    .testimonials p{
        font-size: 16px;
    }
    
    .FAQ{
        height: fit-content;
        padding-bottom: 40px;
    }
    footer{
        flex-direction: column;
        justify-content: center;
        padding-bottom: 20px;
    }
    .foot h2{
        font-size: 96px;
    }
    .foot .description p{
        width: 300px;
        font-size: 16px;
    }
    .social{
        justify-content: space-evenly;
    }
    .fa-instagram, .fa-facebook, .fa-whatsapp{
        font-size: 40px;
    }
    .quick-links{
        font-size: 16px;
        padding-top: 20px;
    }
    
    .copyright{
        height: fit-content;
        font-size: 16px;
        padding: 5px;
    }
        
    .ourprograms{
        height: 450px;
    }
    .ourprograms h1{
        font-size: 40px;
    }
    .boxmma{
        padding: 10px;
    }
    .program p{
        font-size: 14px;
    }
    
    .card p{
        font-size: 14px;
    }
    .cardio{
        padding: 10px;
    }
    .dance{
        padding: 10px;
    }
    .musculation{
        padding: 10px;
    }
    .joinus{
        height: 450px;
    }
    .joinus h1{
        font-size: 40px;
    }
    .plans{
        font-size: 16px;
        height: fit-content;
    }
    .plans .card-2{
        height: fit-content;
    }
    .plans ul{
        font-size: 16px;
    }
    .dontquit{
        height: 200px;
    }
    .signup{
        padding-bottom: 0px;
        font-size: 16px;
    }
    .signup h2{
        padding-bottom: 10px;
    }
    form{
        padding-bottom: 22px;
    }
    input {
        width: 100%;
        font-size: 17px;    
    }
    .info{
        width: 100%;
    }
    .info p{
        width: 100%;
    }

    .infoform{ 
        margin-bottom: 10px;
    }
    ::placeholder{
        font-size: 16px;
    }
    select {
        font-size: 16px;
        width: 100%;
    }

    form button{
        font-size: 16px; 
    }

    .gallery{
        gap: 10px;
        height: fit-content;
        
    }
    .gallery .card{
        width: 300px;
    }
    
} 


/* TABLET De 768px à 1023px de large.*/
@media(max-width:1023px) and (min-width: 769px){
    .hamburger{
        display: flex;
        justify-content: flex-end;
        height: 80px;
    }
    .humb{
        margin: 2rem;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar{
        display: none;  
        text-align: center;
        height: fit-content;
    }
    .nav-item{
        display: flex;
        justify-content: space-evenly;
    }
    nav.active{
        display: block;
    }

    .navbar a{
        font-size: 18px;
        padding: 10px 22px;
        border-radius: 4px;
        transition: ease .40s;
    }    
    .logo{
        position: absolute;
        z-index: 100;
        top: 0;
        left: 2%;
        width: 80px;
        height: 80px;

    }
    
    .welcome-pic{
        height: 422px;
    }
    .welcome h1{
        font-size: 50px;
    }
    .welcome h2{
        font-size: 30px;
    }
    
    .rectangle {
        position: relative;
        bottom: 0;
        height: fit-content;
        width: 100%;
    }
    .rectangle h2{
        font-size: 24px;
    }
    .rectangle p{
        font-size: 20px;    
    }
    
    .discover{
        height: fit-content;
    }
    .discover h2{
        font-size: 24px;
    }
  
    .container{
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding-bottom: 20px;
    }
    .container .card{
        height: 300px;
    }
    .container .card img{
        height: 215px;
    }
    .card a{ 
        font-size: 18px;
    }
    
    .testimonials{
        height: fit-content;
    }
    .testimonials h2{
        font-size: 24px;
    }
    .testimonials .card-2{
        width: 300px;
        height: fit-content; 
    }
    .testimonials p{
        font-size: 20px;
    }
    
    .FAQ{
        height: fit-content;
        padding-bottom: 40px;
    }
    .FAQ h2{
        font-size: 20px;
    }
    .data{
        font-size: 20px;
    }
     footer{
        flex-direction: column;
        justify-content: center;
        padding-bottom: 20px;
    }
    .foot h2{
        font-size: 96px;
        margin: auto;
    }
    .foot .description p{
        margin: auto;
        width: 90%;
        font-size: 20px;
    }
    .social{
        justify-content: space-evenly;
    }
    .fa-instagram, .fa-facebook, .fa-whatsapp{
        font-size: 40px;
    }
    .quick-links{
        font-size: 16px;
        padding-top: 20px;
    }
    
    .copyright{
        height: fit-content;
        font-size: 16px;
        padding: 5px;
    }
    .ourprograms{
        height: 450px;
    }
    .ourprograms h1{
        font-size: 40px;
    }
    .boxmma{
        padding: 10px;
    }
    
    .card p{
        font-size: 18px;
    }
    .cardio{
        padding: 10px;
    }
    .dance{
        padding: 10px;
    }
    .musculation{
        padding: 10px;
    }
    .joinus{
        height: 450px;
    }
    .joinus h1{
        font-size: 40px;
    }
    .plans{
        font-size: 18px;
        height: fit-content;
    }
    .plans .card-2{
        height: fit-content;
    }
    .plans ul{
        font-size: 18px;
    }
        
    .dontquit{
        height: 250px;
    }
    .signup{
        padding-bottom: 0px;
        font-size: 16px;
    }
    .signup h2{
        padding-bottom: 10px;
    }
    form{
        padding-bottom: 22px;
    }
    input {
        width: 100%;
        font-size: 17px;    
    }
    .info{
        width: 100%;
    }
    .info p{
        width: 100%;
    }

    .infoform{ 
        margin-bottom: 10px;
    }
    ::placeholder{
        font-size: 16px;
    }
    select {
        font-size: 16px;
        width: 100%;
    }

    form button{
        font-size: 16px; 
    }

    .gallery{
        gap: 10px;
        height: fit-content;
        
    }
    .gallery .card{
        width: 300px;
    }
   
} 